<div class="d-flex justify-content-between align-items-center mb-4">
  <h1>Add New Product</h1>
  <%= link_to admin_products_path, class: "btn btn-outline-secondary" do %>
    <i class="fas fa-arrow-left me-2"></i>Back to Products
  <% end %>
</div>

<%= render 'form' %>
